<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SCHOOL APPLICATION</title>
    <link rel="stylesheet" href="../static/stylesheets/index.css">
</head>
<body>
    <h2>SCHOOL APPLICATION</h2>
    <hr>
    <div class="module">
        <h1>Admissions</h1><br>
        <button type="button" name="button">Add Admission</button><br><br>
        <button type="button" name="button">Admission Report</button><br><br>
    </div>

    <div class="module">
        <h1>Finance</h1><br>
        <button type="button" name="button">Fee Collection</button><br><br>
        <button type="button" name="button">Fee Collection Report</button><br><br>
        <button type="button" name="button">Fee Dues Report</button><br><br>
    </div>
</body>
</html>